<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">    
		<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/custom/header.css')}}">
		{% block head %}{% endblock %}
		{% block title %}{% endblock %}
		<link rel="shortcut icon" href="{{url_for('static', filename='images/favicon_1.ico')}}" />
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" id="theme-color-dark-blue">
			<div class="container-fluid" >
    			<div class="navbar-header">
    				<!-- defines the toggle botton that collapses the header bar on smaller screens -->
      				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapseNavbar">
			        	<span class="icon-bar"></span>
			        	<span class="icon-bar"></span>
			        	<span class="icon-bar"></span>                        
      				</button>
    				
    				<!-- Logo -->
      				<a class="brand-logo" href="#"><img src="{{url_for('static', filename='images/bsms_logo9_white.png')}}" id="brand_logo"></a>
    			</div>

			    <div class="collapse navbar-collapse" id="collapseNavbar">	
					<!-- Links -->
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/home/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
						<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-list"></span> Site Map <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/view_inventory/">View Inventory</a></li>
								<li><a href="/edit_inventory/">Edit Inventory</a></li>
								<li><a href="/logistics/">Logistics</a></li>
							</ul>
						</li>
						<li><a href="/settings/"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
					</ul>
			    </div>
  			</div>
		</nav>

		{% block body %}{% endblock %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

		{% block script %}{% endblock %}
	</body>
</html>
