{% extends "header.html" %}
	{% block head %}<link rel="stylesheet" href="{{url_for('static', filename='css/custom/thumbnail.css')}}">{% endblock %}

	{% block title %}<title>Home</title>{% endblock %}

	{% block body %}
		<div class="container" id="navbar-compensation">
			<div class="row">
				<!-- each grid has 12 columns -->
				<!-- card size is 12 on xs (phones), 6 on sm (tablets), 4 on md (laptops), and 4 on lg (desktops) -->
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="thumbnail">
						<a href="/edit_inventory/"><img src="{{url_for('static', filename='images/inventory_5.jpg')}}" alt="Edit Inventory"></a>
						<div class="caption">
							<h3>Edit Inventory</h3>
							<p>Edit inventory by scanning kegs and changing their status.</p>
							<!-- <p><a href="#" class="btn btn-primary" role="button">View</a></p> -->
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="thumbnail">
						<a href="/view_inventory/"><img src="{{url_for('static', filename='images/inventory_6.jpg')}}" alt="View Inventory"></a>
						<div class="caption">
							<h3>View Inventory</h3>
							<p>View or search a listing of all active kegs and their information.</p>
						</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="thumbnail">
						<a href="/logistics/"><img src="{{url_for('static', filename='images/statistics_5.jpg')}}" alt="Logistics"></a>
						<div class="caption">
							<h3>Logistics</h3>
							<p>View inventory logistics to gain insight into the operation of the brewery.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}

	

