{% extends "header.html" %}
{% block body %}

<!--<div class="row">
	<! size 4 on a large screen, 12 on a small, 6 on a med >
		<div class="col l4 s12 m6">
			<a href="{{url_for}}" class="waves-effect waves-light" style="color:#000">
			<div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
				<div class="card-image">
				  <img class="responsive-img" src="/static/images/categories/3D-Matplotlib.png" style="width:250px">
				  <br><span class="card-title"><strong>Data Analysis</strong></span>
				</div>
				<div class="card-content">
				  <p>Learn how to use Python with Pandas, Matplotlib, and other modules to gather insights from and about your data.</p>
				</div>
				<div class="card-action right-align">
				  <a href="/data-analysis-tutorials/" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">View</a>
				</div>
            </div>
            </a>
		</div>
		
		<div class="col l4 s12 m6">
			<a href="/robotics-tutorials/" class="waves-effect waves-light" style="color:#000">
			<div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;">
				<div class="card-image">
				  <img class="responsive-img" src="/static/images/categories/robotics_with_raspberry_pi_gopigo.jpg" style="width:250px">
				  <br><span class="card-title"><strong>Robotics</strong></span>
				</div>
				<div class="card-content">
				  <p>Control hardware with Python programming and the Raspberry Pi.</p>
				</div>
				<div class="card-action right-align">
				  <a href="/robotics-tutorials/" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">View</a>
				</div>
            </div>
            </a>
		</div>
	</div>-->
	
{% endblock %}