	<!-- Signin.html, login page for jailbreakbsms.me -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
       	<!-- CSS Files local -->
		<link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='custom/css/signin.css')}}">
	<title>Log in</title>
	</head>
	<body> 		
		<!-- Logo -->
		<img src="{{url_for('static', filename='custom/images/bsms_logo9_white.png')}}" class="center-block img-responsive" width="250px"/>		
			
		<div class="container">
			<form class="form-signin" action="" method="post">
				<h2 class="form-signin-heading"> <b>Please sign in</b></h2>

				<label for="inputEmail" class="sr-only">Email address</label>
				<input type="email" id="email" class="form-control" name="email" value="{{request.form.email}}" placeholder="Email address" required autofocus>
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" id="password" class="form-control" name="password" value="{{request.form.password}}" placeholder="Password" required>
				
				<div class="checkbox">
					<label>
						<input type="checkbox" value="remember-me"> Remember me
					</label>
				</div>

				<button class="btn btn7-larges btn-primary btn-block" type="submit" value = "Login">Sign in</button>
				
				<!-- Line -->
				<div class="hr"></div>
				
				<div class="foot-lnk">
					<a href="#forgot">Forgot Password?</a>
				</div>
			</form>
		</div>
     <!-- /container -->		

   	<script src="{{url_for('static', filename='jquery/jquery.min.js')}}"></script>
		<script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
	</body>
</html>
