<!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
 
 <body>
   <form action="/signUp/" method="post" role="form">
     <h2>Please Sign Up </h2>
     <input type="email" name="username" placeholder="Email address" id="txtUsername" required autofocus>
     <input type="password" name="password" placeholder="Password"id="txtPassword" required>
     
     <button id="button_id" type="button">Register </button>
   </form>

   <p id="paragraph"></p>
 </body>
 
 <script src="{{url_for('static', filename='jquery/jquery.js')}}"> </script>
 <script>
   $(function() {
    $("#button_id").click(function() {
        var user = $('#txtUsername').val();
        var pass = $('#txtPassword').val();
        $.ajax({
            url: '/signUpUser/',
            data: $('form').serialize(),
            dataType: 'json',
            type: 'POST',
            success: function(response) {
               $("#paragraph").text("User: " + response.user + ", Password: " + response.pass);
   },
            error: function(error) {
                alert("error");
            }
        });
    });
});
 </script>
</html>
