{% extends "blank_template.html" %}
	
	{% block page_title %} View Inventory {% endblock %}
	
	{% block stylesheets %}
		<!-- DataTables -->
		<link href="{{url_for('static', filename='DataTables/DataTables-1.10.13/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{url_for('static', filename='DataTables/ColReorder-1.3.2/css/colReorder.bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{url_for('static', filename='DataTables/FixedHeader-3.1.2/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{url_for('static', filename='DataTables/Responsive-2.1.1/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{url_for('static', filename='DataTables/Scroller-1.4.2/css/scroller.bootstrap.min.css')}}" rel="stylesheet">
		<!-- DatePicker -->
		<link href="{{url_for('static', filename='bootstrap-datepicker/css/bootstrap-datepicker3.min.css')}}" rel="stylesheet">
		<!-- Multiselect -->
		<link href="{{url_for('static', filename='bootstrap-multiselect/css/bootstrap-multiselect.css')}}" rel="stylesheet">
	{% endblock %}
	
	{% block account_name %}{{ account_name }}{% endblock %}
	
	{% block sidebar %}
		<li>
			<a href="/dashboard/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
		</li>
		<li class="active">
			<a href="/view_inventory/"><i class="fa fa-fw fa-table"></i> View Inventory</a>
		</li>
		<li>
			<a href="/edit_inventory/"><i class="fa fa-fw fa-edit"></i> Edit Inventory</a>
		</li>
		<li>
			<a href="/logistics/"><i class="fa fa-fw fa-bar-chart-o"></i> Logistics</a>
		</li>
	{% endblock %}

	{% block page_heading %} View Inventory {% endblock %}
	
	{% block page_subheading %}{% endblock %}
	
	{% block breadcrumbs %}
		<li>
			<i class="fa fa-dashboard"></i> <a href="/dashboard/">Dashboard</a>
		</li>
		<li class="active">
			<i class="fa fa-table"></i> View Inventory
		</li>
	{% endblock %}

	{% block body%} 
		<div class="row">
			<div class="col col-lg-12">
				<textarea id="tag"  style="width:99%" col="5" placeholder="placeholder" readonly="">Hello World!</textarea>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->

		
	{% endblock %}

	{% block scripts %}
		<!-- DataTables -->
		<script src="{{url_for('static', filename='DataTables/DataTables-1.10.13/js/jquery.dataTables.min.js')}}"></script>
		<script src="{{url_for('static', filename='DataTables/DataTables-1.10.13/js/dataTables.bootstrap.min.js')}}"></script>
		<script src="{{url_for('static', filename='DataTables/ColReorder-1.3.2/js/dataTables.colReorder.min.js')}}"></script>
		<script src="{{url_for('static', filename='DataTables/FixedHeader-3.1.2/js/dataTables.fixedHeader.min.js')}}"></script>
		<script src="{{url_for('static', filename='DataTables/Responsive-2.1.1/js/dataTables.responsive.min.js')}}"></script>
		<script src="{{url_for('static', filename='DataTables/Responsive-2.1.1/js/responsive.bootstrap.min.js')}}"></script>
		<script src="{{url_for('static', filename='DataTables/Scroller-1.4.2/js/dataTables.scroller.min.js')}}"></script>
		<!-- Datepicker -->
		<script src="{{url_for('static', filename='bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}"></script> 
		<!-- Multiselect -->
		<script src="{{url_for('static', filename='bootstrap-multiselect/js/bootstrap-multiselect.js')}}"></script> 

		<script src="{{url_for('static', filename='custom/js/jquery.pos.js')}}"></script> 

		<script>
		// executes when document is done loading
		$(document).ready(function(){
			// alert($("#tag").val())
			// $("#tag").val("goodbye!");
			// alert($("#tag").val());
	//		var code = $("#tag").val();
			$(document).pos();
			$(document).on('scan.pos.barcode', function(event){
				// alert("I'm receiving data");

				//alert(event.code);
				$("#tag").append(event.code);
				$("#tag").append("\n");
				$("#tag").append(event.time);
				$("#tag").append("\n");
				
				//$("#tag").val(event.code);

			});

		});
		</script>
	{% endblock %}





