{% extends "blank_template.html" %}
	
	{% block page_title %} View Inventory {% endblock %}
	
	{% block stylesheets %}
		<!-- DataTables -->
		<link href="{{url_for('static', filename='DataTables/DataTables-1.10.13/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{url_for('static', filename='DataTables/ColReorder-1.3.2/css/colReorder.bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{url_for('static', filename='DataTables/FixedHeader-3.1.2/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{url_for('static', filename='DataTables/Responsive-2.1.1/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{url_for('static', filename='DataTables/Scroller-1.4.2/css/scroller.bootstrap.min.css')}}" rel="stylesheet">
		<!-- DatePicker -->
		<link href="{{url_for('static', filename='bootstrap-datepicker/css/bootstrap-datepicker3.min.css')}}" rel="stylesheet">
		<!-- Multiselect -->
		<link href="{{url_for('static', filename='bootstrap-multiselect/css/bootstrap-multiselect.css')}}" rel="stylesheet">
	{% endblock %}
	
	{% block account_name %}{{ account_name }}{% endblock %}
	
	{% block sidebar %}
		<li>
			<a href="/dashboard/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
		</li>
		<li class="active">
			<a href="/view_inventory/"><i class="fa fa-fw fa-table"></i> View Inventory</a>
		</li>
		<li>
			<a href="/edit_inventory/"><i class="fa fa-fw fa-edit"></i> Edit Inventory</a>
		</li>
		<li>
			<a href="/logistics/"><i class="fa fa-fw fa-bar-chart-o"></i> Logistics</a>
		</li>
	{% endblock %}

	{% block page_heading %} View Inventory {% endblock %}
	
	{% block page_subheading %}{% endblock %}
	
	{% block breadcrumbs %}
		<li>
			<i class="fa fa-dashboard"></i> <a href="/dashboard/">Dashboard</a>
		</li>
		<li class="active">
			<i class="fa fa-table"></i> View Inventory
		</li>
	{% endblock %}

	{% block body%} 
		<div class="row">
			<div class="col col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<button type="button" class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#collapsible_advanced_search" id="advanced_search_btn">
							<i class="fa fa-fw fa-search"></i> Advanced Search
						</button>
					</div>
					<!-- /.panel-heading -->
					
					<div class="panel-collapse collapse" id="collapsible_advanced_search">
						<div class="panel-body">
							<div class="row">
								<div class="col col-xs-12 col-sm-6" style="margin-bottom: 15px;">
									<label>Keg ID</label>
									<div class="input-group" id="input_group_id">
										<input type="text" class="input-sm form-control" placeholder="Min ID" id="input_keg_id_min" style="text-align: center;">
										<div class="input-group-addon">to</div>
										<input type="text" class="input-sm form-control" placeholder="Max ID" id="input_keg_id_max" style="text-align: center;">
									</div>
									<!-- /.input-group -->
								</div>
								<!-- /.col -->

								<div class="col col-xs-12 col-sm-6" style="margin-bottom: 15px;">
									<label>Notes</label>
									<div class="input-group" id="input_group_notes">
										<span class="input-group-addon" id="addon_id">Notes</span>
										<input type="text" class="input-sm form-control" placeholder="Search Notes" id="input_keg_notes" style="text-align: center;">
									</div>
									<!-- /.input-group -->
								</div>
								<!-- /.col -->
							</div>
							<!-- /.row -->

							<div class="row">
								<div class="col col-xs-12 col-sm-6 col-lg-3" style="margin-bottom: 15px;">
									<label>Keg Type</label>
									<div class="input-group" id="input_group_type">
										<span class="input-group-addon" id="addon_type">Type</span>
										<select multiple class="form-control" id="input_keg_type" style="min-width: 150px; max-height: 75px;">
										</select>
									</div>
									<!-- /.input-group -->
								</div>
								<!-- /.col -->

								<div class="col col-xs-12 col-sm-6 col-lg-3" style="margin-bottom: 15px;">
									<label>Keg Status</label>
									<div class="input-group" id="input_group_status">
										<span class="input-group-addon" id="addon_status">Status</span>
										<select multiple class="form-control" id="input_keg_status" style="min-width: 150px; max-height: 75px;">
										</select>
									</div>
									<!-- /.input-group -->
								</div>
								<!-- /.col -->

								<div class="col col-xs-12 col-sm-6 col-lg-3" style="margin-bottom: 15px;">
									<label>Beer Brand</label>
									<div class="input-group" id="input_group_brand">
										<span class="input-group-addon" id="addon_brand">Brand</span>
										<select multiple class="form-control" id="input_keg_brand" style="min-width: 150px; max-height: 75px;">
										</select>
									</div>
									<!-- /.input-group -->
								</div>
								<!-- /.col -->

								<div class="col col-xs-12 col-sm-6 col-lg-3" style="margin-bottom: 15px;">
									<label>Customer</label>
									<div class="input-group" id="input_group_brand">
										<span class="input-group-addon" id="addon_brand">Name</span>
										<select multiple class="form-control" id="input_customer" style="min-width: 150px; max-height: 75px;">
										</select>
									</div>
									<!-- /.input-group -->
								</div>
								<!-- /.col -->
							</div>
							<!-- /.row -->

							<div class="row">
								<div class="col col-xs-12 col-sm-6 col-lg-3" style="margin-bottom: 15px;">
									<label>Time In</label>
									<div class="input-daterange input-group" id="input_keg_timeIn">
										<input type="text" class="input-sm form-control" id="input_keg_timeIn_start" placeholder="Start Date">
										<div class="input-group-addon">to</div>
										<input type="text" class="input-sm form-control" id="input_keg_timeIn_end" placeholder="End Date">
									</div>
								</div>
								<!-- /.col -->

								<div class="col col-xs-12 col-sm-6 col-lg-3" style="margin-bottom: 15px;">
									<label>Time Cleaned</label>
									<div class="input-daterange input-group" id="input_keg_timeCleaned">
										<input type="text" class="input-sm form-control" id="input_keg_timeCleaned_start" placeholder="Start Date">
										<div class="input-group-addon">to</div>
										<input type="text" class="input-sm form-control" id="input_keg_timeCleaned_end" placeholder="End Date">
									</div>
								</div>
								<!-- /.col -->

								<div class="col col-xs-12 col-sm-6 col-lg-3" style="margin-bottom: 15px;">
									<label>Time Filled</label>
									<div class="input-daterange input-group" id="input_keg_timeFilled">
										<input type="text" class="input-sm form-control" id="input_keg_timeFilled_start" placeholder="Start Date">
										<div class="input-group-addon">to</div>
										<input type="text" class="input-sm form-control" id="input_keg_timeFilled_end" placeholder="End Date">
									</div>
								</div>
								<!-- /.col -->

								<div class="col col-xs-12 col-sm-6 col-lg-3" style="margin-bottom: 15px;">
									<label>Time Shipped</label>
									<div class="input-daterange input-group" id="input_keg_timeShipped">
										<input type="text" class="input-sm form-control" id="input_keg_timeShipped_start" placeholder="Start Date">
										<div class="input-group-addon">to</div>
										<input type="text" class="input-sm form-control" id="input_keg_timeShipped_end" placeholder="End Date">
									</div>
								</div>
								<!-- /.col -->
							</div>
							<!-- /.row -->
						</div>
					</div>
					<!-- /.panel-collapse -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->

		<div class="row">
				<div class="col col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							Inventory
						</div>
						<!-- /.panel-heading -->

						<div class="panel-body">
							<table width="100%" class="table table-striped table-bordered table-hover" id="inventory_table">
								<thead>
									<tr>
										<th>ID</th>
										<th>Keg Type</th>
										<th>Status</th>
										<th>Beer Brand</th>
										<th>Time In</th>
										<th>Time Cleaned</th>
										<th>Time Filled</th>
										<th>Time Tapped</th>
										<th>Time Shipped</th>
										<th>Customer</th>
										<th>Notes</th>
									</tr>
								</thead>
								<tbody>
									{% for row in inventory %}
									<tr>
										<td>{{row[0]}}</td>
										<td>{{row[1]}}</td>
										<td>{{row[2]}}</td>
										<td>{{row[3]}}</td>
										<td>{{row[4]}}</td>
										<td>{{row[5]}}</td>
										<td>{{row[6]}}</td>
										<td>{{row[7]}}</td>
										<td>{{row[8]}}</td>
										<td>{{row[9]}}</td>
										<td>{{row[10]}}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							<!-- /.table-responsive -->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
	{% endblock %}

	{% block scripts %}
		<!-- DataTables -->
		<script src="{{url_for('static', filename='DataTables/DataTables-1.10.13/js/jquery.dataTables.min.js')}}"></script>
		<script src="{{url_for('static', filename='DataTables/DataTables-1.10.13/js/dataTables.bootstrap.min.js')}}"></script>
		<script src="{{url_for('static', filename='DataTables/ColReorder-1.3.2/js/dataTables.colReorder.min.js')}}"></script>
		<script src="{{url_for('static', filename='DataTables/FixedHeader-3.1.2/js/dataTables.fixedHeader.min.js')}}"></script>
		<script src="{{url_for('static', filename='DataTables/Responsive-2.1.1/js/dataTables.responsive.min.js')}}"></script>
		<script src="{{url_for('static', filename='DataTables/Responsive-2.1.1/js/responsive.bootstrap.min.js')}}"></script>
		<script src="{{url_for('static', filename='DataTables/Scroller-1.4.2/js/dataTables.scroller.min.js')}}"></script>
		<!-- Datepicker -->
		<script src="{{url_for('static', filename='bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}"></script> 
		<!-- Multiselect -->
		<script src="{{url_for('static', filename='bootstrap-multiselect/js/bootstrap-multiselect.js')}}"></script> 

		<script>
		/* Custom filtering function which will search data between two values */
		$.fn.dataTable.ext.search.push(function(settings, data, dataIndex){
			// time in datapicker
			var startTimeIn = Date.parse($("#input_keg_timeIn_start").val() + " 00:00:00");
			var endTimeIn   = Date.parse($("#input_keg_timeIn_end").val() + " 00:00:00") + 86400000;
			var datesTimeIn = Date.parse(data[4]); 
			var boolTimeIn  = false;

			// time cleaned datapicker
			var startTimeCleaned = Date.parse($("#input_keg_timeCleaned_start").val() + " 00:00:00");
			var endTimeCleaned   = Date.parse($("#input_keg_timeCleaned_end").val() + " 00:00:00") + 86400000;
			var datesTimeCleaned = Date.parse(data[5]); 
			var boolTimeCleaned  = false;

			// time filled datapicker
			var startTimeFilled = Date.parse($("#input_keg_timeFilled_start").val() + " 00:00:00");
			var endTimeFilled   = Date.parse($("#input_keg_timeFilled_end").val() + " 00:00:00") + 86400000;
			var datesTimeFilled = Date.parse(data[6]); 
			var boolTimeFilled  = false;
			
			// time shipped datapicker
			var startTimeShipped = Date.parse($("#input_keg_timeShipped_start").val() + " 00:00:00");
			var endTimeShipped   = Date.parse($("#input_keg_timeShipped_end").val() + " 00:00:00") + 86400000;
			var datesTimeShipped = Date.parse(data[8]); 
			var boolTimeShipped  = false;

			var id_min = parseInt($("#input_keg_id_min").val(), 10);
			var id_max = parseInt($("#input_keg_id_max").val(), 10);
			var ids    = parseInt(data[0], 10);
			var boolID = false;

			// determine if inventory entry fulfills time in search criteria
			if (( isNaN(startTimeIn) && isNaN(endTimeIn) ) ||
			( !isNaN(datesTimeIn) && isNaN(startTimeIn) && datesTimeIn < endTimeIn ) ||
			( !isNaN(datesTimeIn) && startTimeIn <= datesTimeIn && isNaN(endTimeIn) ) ||
			( !isNaN(datesTimeIn) && startTimeIn <= datesTimeIn && datesTimeIn < endTimeIn ))
			{
				boolTimeIn = true;	
			}
			
			// determine if inventory entry fulfills time cleaned search criteria
			if (( isNaN(startTimeCleaned) && isNaN(endTimeCleaned) ) ||
			( !isNaN(datesTimeCleaned) && isNaN(startTimeCleaned) && datesTimeCleaned < endTimeCleaned ) ||
			( !isNaN(datesTimeCleaned) && startTimeCleaned <= datesTimeCleaned && isNaN(endTimeCleaned) ) ||
			( !isNaN(datesTimeCleaned) && startTimeCleaned <= datesTimeCleaned && datesTimeCleaned < endTimeCleaned ))
			{
				boolTimeCleaned = true;	
			}

			// determine if inventory entry fulfills time filled search criteria
			if (( isNaN(startTimeFilled) && isNaN(endTimeFilled) ) ||
			( !isNaN(datesTimeFilled) && isNaN(startTimeFilled) && datesTimeFilled < endTimeFilled ) ||
			( !isNaN(datesTimeFilled) && startTimeFilled <= datesTimeFilled && isNaN(endTimeFilled) ) ||
			( !isNaN(datesTimeFilled) && startTimeFilled <= datesTimeFilled && datesTimeFilled < endTimeFilled ))
			{
				boolTimeFilled = true;	
			}				

			// determine if inventory entry fulfills time shipped search criteria
			if (( isNaN(startTimeShipped) && isNaN(endTimeShipped) ) ||
			( !isNaN(datesTimeShipped) && isNaN(startTimeShipped) && datesTimeShipped < endTimeShipped ) ||
			( !isNaN(datesTimeShipped) && startTimeShipped <= datesTimeShipped && isNaN(endTimeShipped) ) ||
			( !isNaN(datesTimeShipped) && startTimeShipped <= datesTimeShipped && datesTimeShipped < endTimeShipped ))
			{
				boolTimeShipped = true;	
			}

			// determine if inventory entry fulfills id search criteria
			if (( isNaN(id_min) && isNaN(id_max) ) ||
			( !isNaN(ids) && isNaN(id_min) && ids <= id_max ) ||
			( !isNaN(ids) && id_min <= ids && isNaN(id_max) ) ||
			( !isNaN(ids) && id_min <= ids && ids <= id_max ))
			{
				boolID = true;	
			}

			return boolTimeIn && boolTimeCleaned && boolTimeFilled && boolTimeShipped && boolID;
		});

		// executes when document is done loading
		$(document).ready(function(){
			// builds an inventory datatable 
			var table = $("#inventory_table").DataTable({
				"responsive": true,
				"pagingType": "full_numbers",
				"initComplete": function()
				{
					// populates keg type search with available types
					this.api().column(1).data().unique().sort().each(function(value, index){
						if (value !== "") 
						{
							$("#input_keg_type").append("<option>" + value + "</option>");
						}
					});

					// populates keg status search with available statuses
					this.api().column(2).data().unique().sort().each(function(value, index){
						if (value !== "") 
						{
							$("#input_keg_status").append("<option>" + value + "</option>");
    					}
    				});

    				// populates keg beer brand search with available brands
					this.api().column(3).data().unique().sort().each(function(value, index){
						if (value !== "") 
						{
							$("#input_keg_brand").append("<option>" + value + "</option>");
    					}
    				});

    				// populates customer search with available customers
					this.api().column(9).data().unique().sort().each(function(value, index){
						if (value !== "") 
						{
							$("#input_customer").append("<option>" + value + "</option>");
						}
    				});
				}
			});

			// Time-In datepicker
			$("#input_keg_timeIn").datepicker({
				"format": "yyyy-mm-dd",
				"autoclose": true,
				"todayHighlight": true,
				"disableTouchKeyboard": true,
				"clearBtn": true
			});

			// Time-Cleaned datepicker
			$("#input_keg_timeCleaned").datepicker({
				"format": "yyyy-mm-dd",
				"autoclose": true,
				"todayHighlight": true,
				"disableTouchKeyboard": true,
				"clearBtn": true
			});

			// Time-Filled datepicker
			$("#input_keg_timeFilled").datepicker({
				"format": "yyyy-mm-dd",
				"autoclose": true,
				"todayHighlight": true,
				"disableTouchKeyboard": true,
				"clearBtn": true
			});

			// Time-Shipped datepicker
			$("#input_keg_timeShipped").datepicker({
				"format": "yyyy-mm-dd",
				"autoclose": true,
				"todayHighlight": true,
				"disableTouchKeyboard": true,
				"clearBtn": true
			});

			// Keg Type Multiselect
			$("#input_keg_type").multiselect({
				"includeSelectAllOption": true,
				"numberDisplayed": 1,
				"buttonWidth": "100%"
			});

			// Keg Status Multiselect
			$("#input_keg_status").multiselect({
				"includeSelectAllOption": true,
				"numberDisplayed": 1,
				"buttonWidth": "100%"
			});

			// Beer Brand Multiselect
			$("#input_keg_brand").multiselect({
				"includeSelectAllOption": true,
				"numberDisplayed": 1,
				"buttonWidth": "100%"
			});

			// Customer Multiselect
			$("#input_customer").multiselect({
				"includeSelectAllOption": true,
				"numberDisplayed": 1,
				"buttonWidth": "100%"
			});

			// search button functionality
			var btn_count = 0;
			$("#advanced_search_btn").click(function(event){
				if((btn_count != 0) && (btn_count % 2 == 1))
				{
					// button deselect
					// clear date pickers
					$("#input_keg_timeIn_start").datepicker("clearDates");
					$("#input_keg_timeIn_end").datepicker("clearDates");
					$("#input_keg_timeCleaned_start").datepicker("clearDates");
					$("#input_keg_timeCleaned_end").datepicker("clearDates");
					$("#input_keg_timeFilled_start").datepicker("clearDates");
					$("#input_keg_timeFilled_end").datepicker("clearDates");
					$("#input_keg_timeShipped_start").datepicker("clearDates");
					$("#input_keg_timeShipped_end").datepicker("clearDates");

					// clear 'id' and 'notes' text input
					$("#input_keg_id_min").val("");
					$("#input_keg_id_max").val("");
					$("#input_keg_notes").val("");

					// clears advanced search
					table.search("").columns().search("").draw();
				}

				if(btn_count % 2 == 0)
				{
					// button select
					// clear multiselect
					$("#input_keg_type").multiselect("selectAll", false);
					$("#input_keg_type").multiselect("updateButtonText");
					$("#input_keg_status").multiselect("selectAll", false);
					$("#input_keg_status").multiselect("updateButtonText");
					$("#input_keg_brand").multiselect("selectAll", false);
					$("#input_keg_brand").multiselect("updateButtonText");
					$("#input_customer").multiselect("selectAll", false);
					$("#input_customer").multiselect("updateButtonText");
				}

				btn_count++;
			});

			// keyup event for id = input_keg_id_min and input_keg_id_max
			$("#input_keg_id_min, #input_keg_id_max").keyup(function(event){
				table.draw();
			});

			// change event for id = input_keg_type
			$("#input_keg_type").change(function(event){
				var val = $("#input_keg_type").val();
				var searchCriteria = "";

				// if non-empty
				if(val)
				{
					searchCriteria += "^";

					for (var i = 0; i < val.length; i++) 
					{
						if((i != 0))
						{
							searchCriteria += "|";
						}

						searchCriteria += val[i];
					}

					searchCriteria += "$";
				}

				// 'regex' but not 'smart' search
				table.column(1).search(searchCriteria, true, false).draw();
			});

			// change event for id = input_keg_status
			$("#input_keg_status").change(function(event){
				var val = $("#input_keg_status").val();
				var searchCriteria = "";

				// if non-empty
				if(val)
				{
					searchCriteria += "^";

					for (var i = 0; i < val.length; i++) 
					{
						if((i != 0))
						{
							searchCriteria += "|";
						}

						searchCriteria += val[i];
					}

					searchCriteria += "$";
				}

				// 'regex' but not 'smart' search
				table.column(2).search(searchCriteria, true, false).draw();
			});

			// change event for id = input_keg_brand
			$("#input_keg_brand").change(function(event){
				var val = $("#input_keg_brand").val();
				var searchCriteria = "";

				// if non-empty
				if(val)
				{
					searchCriteria += "^";

					for (var i = 0; i < val.length; i++) 
					{
						if((i != 0))
						{
							searchCriteria += "|";
						}

						searchCriteria += val[i];
					}

					searchCriteria += "$";
				}

				// 'regex' but not 'smart' search
				table.column(3).search(searchCriteria, true, false).draw();
			});

			// date change event for id = input_keg_timeIn
			$("#input_keg_timeIn").datepicker().on('changeDate', function (event){
				table.draw();
			});			

			// date change event for id = input_keg_timeCleaned
			$("#input_keg_timeCleaned").datepicker().on('changeDate', function (event){
				table.draw();
			});

			// date change event for id = input_keg_timeFilled
			$("#input_keg_timeFilled").datepicker().on('changeDate', function (event){
				table.draw();
			});	

			// date change event for id = input_keg_timeShipped
			$("#input_keg_timeShipped").datepicker().on('changeDate', function (event){
				table.draw();
			});

			// change event for id = input_keg_brand
			$("#input_customer").change(function(event){
				var val = $("#input_customer").val();
				var searchCriteria = "";

				// if non-empty
				if(val)
				{
					searchCriteria += "^";

					for (var i = 0; i < val.length; i++) 
					{
						if((i != 0))
						{
							searchCriteria += "|";
						}

						searchCriteria += val[i];
					}

					searchCriteria += "$";
				}

				// 'regex' but not 'smart' search
				table.column(9).search(searchCriteria, true, false).draw();
			});

			// keyup event for id = input_keg_id
			$("#input_keg_notes").keyup(function(event){
				// searches table according to value then redraws table
				table.column(10).search($("#input_keg_notes").val()).draw(); 
			});
		});
		</script>
	{% endblock %}





