body
{
	padding-top: 70px;
}

#header
{
	background-color:#003F72;
}

#brand_logo
{
	width: 80px; 
	margin: 10px;
}

.navbar
{
	/* Adds a shadow effect across multiple browsers */
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
